<!-- <button type="button" id="create_show" class="btn btn-primary" >Create A Show</button> -->
<%= link_to "Add a Show", new_user_show_path(current_user), :class => "btn btn-primary" %>
<button type="button" id="view_shows" class="btn btn-primary" >View All Shows</button>


<div id="message"></div>
<div id="shows"></div>



