<button type="button" id="create_show" class="btn btn-primary" >Create A Show</button>


<button type="button" id="view_shows" class="btn btn-primary" >View All Shows</button>

<div id="container">
    <div id="message"></div>
    <div id="shows"></div>
</div>




