  <% if @showToday %>
    <p><strong>Today's Show:</strong></p>
    <p><strong><%= @showToday.format_date %> - <%= @showToday.format_time %></strong></p>
    
    <% if @showToday.acts.count > 0 %>
      <% @showToday.acts.each do |act| %>
        <%= ActShow.setOrder(act, @showToday) %>:
        <%= link_to "#{act.name}", act_path(act) %>
      <% end %>
    
    <% else %>
      <p>There are no currently scheduled acts.</p>
    <% end %>
  <% end %>


