  
    <p><strong>Today's Show:</strong></p>
    <p><strong><%= @show.format_date %> - <%= @show.format_time %></strong></p>
    
    <% if @show.acts.count > 0 %>
      <% @show.acts.each do |act| %>
        <%= ActShow.setOrder(act, @show) %>:
        <%= link_to "#{act.name}", act_path(act) %>
        <br>
      <% end %>
    
    <% else %>
      <p>There are no currently scheduled acts.</p>
    <% end %>
  


