<% if Show.today %>
  <p><strong>Today's Show:</strong></p>
  <p><%= Show.today.date %> - <%= Show.today.format_time %></p>
  <ul>
  <% if Show.today.acts.count > 0 %>
    <% Show.today.acts.each do |act| %>
      <li><%= link_to "#{act.name}", act_path(act) %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no currently scheduled acts.</p>
  <% end %>
<% end %>

<p><strong>All Shows:</strong></p>
<%= render 'shows' %>